<!--

Our css Styling live here

styleSheet.css
@Authors : William Wittig, Jacob Jonas
@Last-edit-date : 5/8/22
-->

<include href="views/includes/header.html"></include>
<div class="text-center"><h1>Confirmation page</h1>
    <div class="p-2 border rounded-bottom">
        <span class="d-block">Food: {{ @SESSION.food }}</span>
        <span class="d-block">Drinks: {{ @SESSION.drinks }}</span>
        <span class="d-block">Total: {{ @SESSION.total }}</span>
    </div>
</div>

<include href="views/includes/footer.html"></include>