<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--CSS-->
    <link rel="stylesheet" href="styles/StyleSheet.css">
    <link rel="icon" type="image/x-icon" href="images/Logos/Sparrow-Grey.ico">
    <title>Sparrow Bar & Grill</title>
    <nav class="navbar navbar-expand-lg row">
        <!--Nav Bar for navigating easily-->
        <div class="navbar" >
            <div class="navbar-nav text-left">
                <a class="nav-link" href="home">Home</a>
                <a class="nav-link" href="Order">Order</a>
                <a class="nav-link" href="order-status">Status</a>
                <a class="nav-link" href="VIP">VIP</a>
                <a class="nav-link" href="Promotions">Promotional</a>
                <a class="nav-link" href="Login">Login</a>
            </div>
        </div>
    </nav>

               <p class = "text-center" id = "Promo"><a class="nav-link" href="VIP">VIP Promotional today! Sign up Now!</a></p>

    <br>
</head>
<body>


