<!--

Header page

header.html
@Authors : William Wittig, Jacob Jonas
@Last-edit-date : 5/8/22
-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--CSS-->
    <link rel="stylesheet" href="styles/StyleSheet.css">
    <link rel="icon" type="image/x-icon" href="images/Logos/Sparrow-Grey.ico">
    <title>Sparrow Bar & Grill</title>

    <!-- Navbar -->
    <nav class="nav nav-tabs mb-0" id="NAV">
        <a class="nav-item nav-link border-0" href="Home">Home</a>
        <a class="nav-item nav-link border-0" href="Order">Order</a>
        <a class="nav-item nav-link border-0" href="VIP">VIP</a>
        <a class="nav-item nav-link border-0" href="Sign-in">Sign In</a>

        <a class="nav-link ml-auto justify-content-end border-0" href="Sign-up" Id="signUp"><b>Sign Up Today!</b></a>

    </nav>

    <!-- Promo Alert -->
    <div class="text-center p-2" id="Banner">
        <a class="nav-link d-inline mr-5" href="VIP">
            VIP on-sale today!
        </a>

        <a class="nav-link d-inline ml-5" id="promo">
            Use Promo-code : "Sdev328"
        </a>
    </div>

</head>
<body>


