<include href="views/header.html"></include>
<div class = "row">
<img src="images/Logos/Sparrow-Grey.png" alt="Sparrow bar and grill logo" width="500"
     height="500" class = "col-lg-4 rounded mx-auto d-block">
    <div class = "container col-sm-5"><br><br><br><br><br><h1><b>Welcome to the Sparrow!</b></h1>
    <h5>We are Located in Auburn, WA.
        <br><br>Sparrow Bar & Grill is Auburn’s newest place to catch a game, eat some grub and enjoy a drink.
        <br>Come with friends or make some here! <br><br>
        Check out our 15 Taps,  Full food & Beverage menu,  10 TV's, Pool & Air-hockey,  Dancing, and so much more! </h5>
<br><br>
        <button type="button" id = "orderBtn"class="btn btn-lg" href="Order">Order Now!</button>&nbsp;&nbsp;
        <button type="button" id = "checkOrderBtn" class="btn btn-lg" href="Order">Check Order Status!</button>
    </div>
</div>
<div>

</div>
<include href="views/footer.html"></include>