<!--
Home/default route. User will land on this page and be greeted with information of our establishment


home.html
@Authors : William Wittig, Jacob Jonas
@Last-edit-date : 5/8/22
-->

<include href="views/includes/header.html"></include>
<!--Main Section-->
<div class="row mt-5 mb-5">
    <img src="images/Logos/Sparrow-Grey.png" alt="Sparrow bar and grill logo"
         id="sparrow"
         class="col-lg-4 rounded mx-auto">
    <div class="container col-sm-5 mt-5">
        <h1 class="mt-5 mb-3"><b>Welcome to the Sparrow!</b></h1>
        <h5 class="mb-3">We are Located in Auburn, WA.</h5>
        <h5 class="mb-3">Sparrow Bar & Grill is Auburn’s newest place to catch
            a game, eat some grub and enjoy a drink.
            Come with friends or make some here!</h5>
        <h5 class="mb-5">Check out our 15 Taps, Full food & Beverage menu, 10
            TV's, Pool &
            Air-hockey, Dancing, and so much more! </h5>
        <div class="d-flex justify-content-evenly">
            <check if="{{ isset($_SESSION['member']) }}">
                <a class="btn btn-lg btn-primary orderButton1" href="Order">Order Now!</a>
            </check>
            <check if="{{ !isset($_SESSION['member']) }}">
                <a class="btn btn-lg btn-primary orderButton1" href="Sign-up">Sign Up To Order!</a>
            </check>
        </div>
    </div>
</div>

<!--Second Container-->
<div class="row mt-5 mb-5">
    <div class="container col-lg-6 d-flex align-items-center p-5">
        <!--Carousel Images-->
        <div id="carouselExampleFade" class="carousel slide carousel-fade"
             data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/Food/13lbcheeseburger.jpg"
                         class="d-block w-100" alt="Cheeseburger">
                </div>
                <div class="carousel-item">
                    <img src="images/Food/steaks-sirloin-steak.jpg"
                         class="d-block w-100" alt="Sirloin Steak">
                </div>
                <div class="carousel-item">
                    <img src="images/Food/smotheredcheesefries.jpg"
                         class="d-block w-100" alt="Smothered Cheese Fries">
                </div>
                <div class="carousel-item">
                    <img src="images/Food/megaphillycheesemelt.jpg"
                         class="d-block w-100" alt="Mega Philly Cheesemelt">
                </div>
                <div class="carousel-item">
                    <img src="images/Food/supremeskillet.jpg"
                         class="d-block w-100" alt="Supreme Skillet">
                </div>
            </div>
            <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"
                      aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon"
                      aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<include href="views/includes/footer.html"></include>