<!--

Here a user will be able to place an order. We will offer lunch and dinner menus that
change each day around 5pm The drink menu will be available all the time. A VIP user will see
there loyalty points and use them for a % off there order.

TODO: Setup/fix Form Posting, Add qty update when clicked. When user field is made, add feature to check here maybe

Order placed -> confirmation page

order.html
@Authors : William Wittig, Jacob Jonas
@Last-edit-date : 5/8/22
-->

<include href="views/includes/header.html"></include>
<link rel="stylesheet" href="styles/order.css">

<div class="text-center">
    <h1>Order Page</h1>
    <hr class="style1">
</div>

<form class="container text-center" action="#" method="post" id="orderForm">
    <h1 class="text-center mt-5">Entrees</h1>
    <ul>
        <repeat group="{{ @food }}" value="{{ @foods }}">
            <li>
                <input type="checkbox" name="food[]" value="{{ @foods }}"
                       id="{{ @foods }}" class="food"/>
                <label for="{{ @foods }}">

                    <h5>
                        {{ key(@food) }}
                        <div class="small">~ ${{ @foods }}
                        </div>
                    </h5>
                    <img src="images/Food/{{ str_replace('/', '', str_replace(' ', '', strtolower(key(@food)))) }}.jpg"/>

<!--                    <div class="d-block mt-3">-->
<!--                        <input class="form-control w-50 border-round text-center mx-auto"-->
<!--                               type="number" value="0">-->
<!--                    </div>-->

                    <script src="//code.jquery.com/jquery.js"></script>
                    <script>
                        jQuery(document).ready(($) => {
                            $('.quantity').on('click', '.plus', function(e) {
                                let $input = $(this).prev('input.qty');
                                let val = parseInt($input.val());
                                $input.val( val+0.1 );
                            });
                            $('.quantity').on('click', '.minus',
                                function(e) {
                                    var val;
                                    if (val > 0) {
                                        $val( val-1 );
                                    }
                                });
                        });
                    </script>

                    <div id="myform" class="quantity">
                    <input type='button' value='-' class='minus' field='quantity' />
                    <input type='text' name='quantity' value='0' class='qty' />
                    <input type='button' value='+' class='plus' field='quantity' />
                    </div>

                </label>
            </li>
        </repeat>
    </ul>

    <hr class="style1">

    <h1 class="text-center mt-5">Drinks</h1>

    <ul>
        <repeat group="{{ @drinks }}" value="{{ @drink }}">
            <li>
                <input type="checkbox" name="drinks[]" value="{{ @drink }}"
                       id="{{ @drink }}"/>

                <label for="{{ @drink }}">
                    <h5>
                        {{ key(@drinks) }}
                        <div class="small">~ ${{ @drink }}</div>
                    </h5>
                    <img src="images/Drinks/{{ str_replace(' ', '', strtolower(key(@drinks))) }}.jpg"/>
                    <div class="d-block mt-3">
                        <input class="form-control w-50 border-round text-center mx-auto"
                               type="number" value="0">
                    </div>
                </label>
            </li>

        </repeat>
    </ul>

    <div class="text-right mt-4 mb-5">
        <!--submit-->
        <button class="btn btn-lg" type="submit" id="PlaceOrderButton">Place
            Order
        </button>
    </div>
</form>

<include href="views/includes/footer.html"></include>