<!--

Here a user will be able to place an order. We will offer lunch and dinner menus that
change each day around 5pm The drink menu will be available all the time. A VIP user will see
there loyalty points and use them for a % off there order.

Order placed -> confirmation page

Order.html
@Authors : William Wittig, Jacob Jonas
@Last-edit-date : 5/8/22
-->

<include href="views/header.html"></include>
<div class="text-center"><h1>Order Page</h1>
    <p>Construction! Please come back later</p>
    <p> Here a user will be able to place an order. We will offer lunch and dinner menus that change each day around 5pm
    <br>The drink menu will be available all the time. A VIP user will see there loyalty points and use them for a % off there order.
<br>Order placed -> <a href = "confirmation">confirmation page</a>
    </p>
</div>

<include href="views/footer.html"></include>