<!--

Here a user will be able to place an order. We will offer lunch and dinner menus that
change each day around 5pm The drink menu will be available all the time. A VIP user will see
there loyalty points and use them for a % off there order.

TODO: Setup/fix Form Posting, Add qty update when clicked. When user field is made, add feature to check here maybe

Order placed -> confirmation page

order.html
@Authors : William Wittig, Jacob Jonas
@Last-edit-date : 5/8/22
-->

<include href="views/includes/header.html"></include>
<link rel="stylesheet" href="styles/order.css">

<div class="text-center">
    <h1>Order Page</h1>
    <hr class="style1">
</div>

<form class="container text-center" action="#" method="post" id="orderForm">
    <h1 class="text-center mt-5">Entrees</h1>
    <ul>
        <repeat group="{{ @food }}" value="{{ @foods }}" class="food">
            <li>
                <input type="checkbox" name="food[]" value="{{ @foods }}"
                       id="{{ @foods }}" class="food"/>
                <label for="{{ @foods }}">
                    <h5>
                        {{ @foods }}
                        <div class="small">~ ${{ key(@foodPrice) }}
                        </div>
                    </h5>
                    <img
                            src="images/Food/{{ str_replace('/', '', str_replace(' ', '', strtolower(@foods))) }}.jpg"/>

                    <script src="//code.jquery.com/jquery.js"></script>

                    <script>
                        //qty selector
                        jQuery(document).ready(($) => {
                            $('.quantity').on('click', '.plus', function(e) {
                                let $input = $(this).prev('input.qty');
                                let val = parseInt($input.val());
                                $input.val = ( val+1);
                            });

                            $('.quantity').on('click', '.minus',
                                function(e) {
                                    let $input = $(this).next('input.qty');
                                    let val = parseInt($input.val());
                                    if (val > 0) {
                                        $input.val = ( val-1 );
                                    }
                                });
                        });
                        //display or hide qty
                        $(".food").click(function (event) {
                            $(".food").css("display","none");
                            event.stopPropagation();
                            if($(".quantity").css("display") == "none"){
                                $(".quantity").css("display","block");
                            }else{
                                $(".quantity").css("display","none");
                            }
                        });
                    </script>

                    <div id="myform" class="quantity">
                    <input type='button' value='-' class='minus' field='quantity' />
                    <input type='text' name='quantity' value='1' class='qty' />
                    <input type='button' value='+' class='plus' field='quantity' />
                    </div>

                </label>
            </li>
        </repeat>
    </ul>

    <hr class="style1">

    <h1 class="text-center mt-5">Drinks</h1>


    <ul>
        <repeat group="{{ @drinks }}" value="{{ @drink }}" class="drinks">
            <li>
                <input type="checkbox" name="drinks[]" value="{{ @drink }}"
                       id="{{ @drink }}" class="drinks"/>

                <label for="{{ @drink }}">
                    <h5>
                        {{ @drink }}
                        <div class="small">~ ${{ key(@drinkPrice) }}</div>
                    </h5>
                    <img src="images/Drinks/{{ str_replace(' ', '', strtolower(@drink)) }}.jpg"/>
                    <div id="myform1" class="quantity1">
                        <input type='button' value='-' class='minus' field='quantity' />
                        <input type='text' name='quantity1' value='1'
                               class='qty' />
                        <input type='button' value='+' class='plus' field='quantity' />
                    </div>
                </label>
            </li>

            <script>
                //qty selector
                jQuery(document).ready(($) => {
                    $('.quantity').on('click', '.plus', function(e) {
                        let $input = $(this).prev('input.qty');
                        let val = parseInt($input.val());
                        $input.val = ( val+1);
                    });

                    $('.quantity').on('click', '.minus',
                        function(e) {
                            let $input = $(this).next('input.qty');
                            let val = parseInt($input.val());
                            if (val > 0) {
                                $input.val = ( val-1 );
                            }
                        });
                });

                $(".drinks").click(function (event) {
                    $(".drinks").css("display","none");
                    event.stopPropagation();
                    if($(".quantity1").css("display") == "none"){
                        $(".quantity1").css("display","block");
                    }else{
                        $(".quantity1").css("display","none");
                    }
                });
            </script>
        </repeat>
    </ul>

    <div class="text-right mt-4 mb-5">
        <!--submit-->
        <button class="btn btn-lg" type="submit" id="PlaceOrderButton">
            <b>Place Order</b>
        </button>
    </div>
</form>

<include href="views/includes/footer.html"></include>