<!--

Here a user will be able to place an order. We will offer lunch and dinner menus that
change each day around 5pm The drink menu will be available all the time. A VIP user will see
there loyalty points and use them for a % off there order.

TODO: Setup/fix Form Posting, Add qty update when clicked. When user field is made, add feature to check here maybe

Order placed -> confirmation page

order.html
@Authors : William Wittig, Jacob Jonas
@Last-edit-date : 5/8/22
-->

<include href="views/includes/header.html"></include>
<link rel="stylesheet" href="styles/order.css">

<div class="text-center mt-5">
    <h1>Order Page</h1>
    <hr class="style1">
</div>

<form class="container text-center" action="#" method="post" id="orderForm">
    <h1 class="text-center mt-5">Entrees</h1>
    <ul>


        <repeat group="{{ @food }}" key="{{ @name }}" value="{{ @price }}" class="food">
            <li>
                <input type="checkbox" name="food[]" value="{{ @name }}"
                       id="{{ @name }}" class="food"/>
                <label for="{{ @name }}">
                    <h5>
                        {{ @name }}
                        <div class="small">~ ${{ @price }}
                        </div>
                    </h5>
                    <img src="images/Food/{{ str_replace('/', '', str_replace
                    (' ', '', strtolower(@name))) }}.jpg"/>

<!--                    <div class="form-outline m-2 ">-->
<!--                        <span>Quantity:</span>-->
<!--                        <input type="number" class="form-control text-center w-50 mx-auto mt-2" value="0"/>-->
<!--                    </div>-->
                </label>
            </li>
        </repeat>
    </ul>

    <hr class="style1">

    <h1 class="text-center mt-5">Drinks</h1>

    <ul>
        <repeat group="{{ @drinks }}" key="@drinkName" value="{{ @drinkPrice }}" class="drinks">
            <li>
                <input type="checkbox" name="drinks[]" value="{{ @drinkName }}"
                       id="{{ @drinkName }}" class="drinks"/>

                <label for="{{ @drinkName }}">
                    <h5>
                        {{ @drinkName }}
                        <div class="small">~ ${{ @drinkPrice }}</div>
                    </h5>
                    <img src="images/Drinks/{{ str_replace(' ', '', strtolower(@drinkName)) }}.jpg"/>
<!--                    <div class="form-outline m-2">-->
<!--                        <span>Quantity:</span>-->
<!--                        <input type="number" class="form-control text-center" value="0"/>-->
<!--                    </div>-->
                </label>
            </li>
        </repeat>
    </ul>

    <div class="text-right mt-4 mb-5">
        <!--submit-->
        <button class="btn btn-lg" type="submit" id="PlaceOrderButton">
            Place Order
        </button>
    </div>
</form>

<include href="views/includes/footer.html"></include>