<!--

<p>Here a user can sign up for a new account. Once signed in, they will be asked if they
would like to become a VIP user or not. Yes > VIP . No > Home .

SignUp.html
@Authors : William Wittig, Jacob Jonas
@Last-edit-date : 5/8/22
-->

<include href="includes/header.html"></include>
<div class="text-center"><h1>Sign Up Page</h1>
    <p>Construction! Please come back later</p>
<p>Here a user can sign up for a new account. Once signed in, they will be asked if they would like to become a <br>
VIP user or not. Yes > VIP . No > Home .</p></div>
<include href="includes/footer.html"></include>