<!--

<p>Here a user can sign up for a new account. Once signed in, they will be asked if they
would like to become a VIP user or not. Yes > VIP . No > Home .

SignUp.html
@Authors : William Wittig, Jacob Jonas
@Last-edit-date : 5/8/22
-->

<include href="views/includes/header.html"></include>

<div class="text-center"><h1>Sign Up Page</h1>
    <p>Construction! Please come back later</p>
    <p>Here a user can sign up for a new account. Once signed in, they will be
        asked if they would like to become a <br>
        VIP user or not. Yes > VIP . No > Home .</p>
</div>

<div class="signup-form text-center" id="Signup1">
    <form action="#" method="post">
        <h2>Sign Up</h2>
        <p>Please fill in this form to create an account!</p>
        <hr>

        <div class="form-group m-3">
            <div class="row">
                <div class="col">
                    <input type="text" class="sign form-control"
                                        name="fname"
                                        placeholder="First Name"
                                        required="required">
                </div>

                <div class="col">
                    <input type="text"
                                        class="sign form-control"
                                        name="lname"
                                        placeholder="Last Name"
                                        required="required">
                </div>
            </div>
        </div>

        <div class="form-group m-3">
            <input type="email" class="sign form-control" name="email"
                   placeholder="Email" required="required">
        </div>

        <div class="form-group m-3">
            <input type="password" class="sign form-control" name="pass"
                   placeholder="Password" required="required">
        </div>

        <div class="form-group m-3">
            <input type="password" class="sign form-control"
                   name="confirm_password" placeholder="Confirm Password"
                   required="required">
        </div>

        <div class="form-group m-3">
            <label class="form-check-label">
                <input type="checkbox" name="isVIP">
                <span>Would you like to be one of our VIPs?</span>
            </label>
        </div>

        <div class="form-group m-3">
            <label class="form-check-label">
                <input type="checkbox" required="required"> I
                accept the <a href="#">Terms of Use</a> &amp; <a href="#">
                Privacy Policy</a>
            </label>
        </div>

        <div class="form-group m-3">
            <button type="submit" class="btn btn-primary btn-lg"
                    id="sign">Sign Up
            </button>
        </div>
    </form>
    <div class="hint-text">Already have an account? <a href="#">Login here</a>
    </div>
</div>

<include href="views/includes/footer.html"></include>