<!--

Here the user will log in as either an admin, vip, or standard user
    Admin User login->AdminPage | VIP User login -> VIP | Standard user login -> home | Not user -> SignUp

signIn.html
@Authors : William Wittig, Jacob Jonas
@Last-edit-date : 5/8/22
-->

<include href="views/includes/header.html"></include>

<div
        id="jumbotronContainer"
        class="d-flex align-items-center justify-content-center mt-5 pt-5"
>
    <div class="card mt-4 bg-transparent">
        <article class="card-body">

            <h4 class="card-title text-center mb-4 mt-1">Sign-In!</h4>

            <form id="loginForm" action="#" method="post">

                <div class="form-group mb-2">
                    <label>Your email</label>
                    <input
                            name="email"
                            id="email"
                            class="sign form-control"
                            placeholder="Email"
                            type="email"
                            value="{{ @POST['email'] }}"
                    />
                </div>

                <!-- form-group// -->
                <div class="form-group mb-2">
                    <label>Your password</label>
                    <input
                            name="password"
                            id="password"
                            class="sign form-control"
                            placeholder="******"
                            type="password"
                            value="{{ @POST['password'] }}"
                    />
                    <check if="{{ isset(@errors['login']) }}">
                        <span class="text-danger">{{ @errors['login'] }}</span>
                    </check>
                </div>

                <!-- form-group// -->
                <div class="form-group mb-2">
                    <div class="checkbox">
                        <label> <input type="checkbox" name="savePassword" <check
                                if="{{ isset($_POST['savePassword']) }}">checked
                            ="checked"</check>/> Save
                            password
                        </label>
                    </div>
                </div>

                <!-- form-group// -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        <b>Login</b>
                    </button>
                </div>
                <!-- form-group// -->
            </form>
        </article>
    </div>
</div>

<include href="views/includes/footer.html"></include>