<!--
Here a user can contact us! via form here or through our supplied contact info.
        A user can also make a suggestion if logged in

Suggestion-Contact.html
@Authors : William Wittig, Jacob Jonas
@Last-edit-date : 5/8/22
-->

<include href="views/header.html"></include>
<div class="text-center"><h1>Suggestions/contact Page</h1>
    <p>Construction! Please come back later</p>
    <p>Here a user can contact us! via form here or through our supplied contact info.
        <br>A user can also make a suggestion if logged in </p>
</div>

<include href="views/footer.html"></include>