<!--

Checks if user is logged in and as a VIP or regular user, if VIP then displays points.
    if not vip but regular user we ask if they would like to upgrade there account if not a user,
    then sent to sign-up page

vip.html
@Authors : William Wittig, Jacob Jonas
@Last-edit-date : 5/8/22
-->

<include href="views/includes/header.html"></include>

<div class="text-center m-5">
    <h1>VIP Page</h1>
    <hr>
</div>

<div class="text-center">
    <h3>Welcome back - {{ @SESSION.member->getFname() }}!</h3>
    <h5>You have a total of {{ @SESSION.member->getRewardsPoints() }} Points! </h5>
    <br>
    <div class="container">
        <h3>Seats available for reservation:</h3>
        <button class="btn btn-primary buttonVIP"> A2</button>
        <button class="btn btn-primary buttonVIP"> A3</button>
        <button class="btn btn-primary buttonVIP"> C5</button>
        <button class="btn btn-primary buttonVIP"> C7</button>
        <button class="btn btn-primary buttonVIPTable"> Table 2</button>
        <button class="btn btn-primary buttonVIPTable"> Table 4</button>
    </div>
    <button class="btn btn-primary m-3">Submit Reservation</button>
</div>

<include href="views/includes/footer.html"></include>