<!--

Checks if user is logged in and as a VIP or regular user, if VIP then displays points.
    if not vip but regular user we ask if they would like to upgrade there account if not a user,
    then sent to sign-up page

vip.html
@Authors : William Wittig, Jacob Jonas
@Last-edit-date : 5/8/22
-->

<include href="views/includes/header.html"></include>

<div class="text-center"><h1>VIP signup Page</h1>
    <p>Construction! Please come back later</p>
    <p>Checks if user is logged in and as a VIP or regular user, if VIP then displays points.
        <br>if not vip but regular user we ask if they would like to upgrade there account<br>
        if not a user, then sent to sign-up page</p></div>

<include href="views/includes/footer.html"></include>