body {
    background-color: #a4a3a3;
}

.nav-link {
    /*color: #a4a3a3;*/
    color: black;
    margin-right:2em;
    font-weight: bold;
}

.navbar-expand-lg {
    background-color: #52565bed;
}

#Promo {
    background-color: #004aad;
    text-align: center;
    color: #a4a3a3;
}

footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.footer {
    color: black;
    padding-left:5em;
}

#orderBtn {
    background-color: #004aad;
    color: black;
}

#checkOrderBtn {
    background-color: #52565bed;
    color: black;
}

#ReviewBtn {
    background-color: #004aad;
    color: black;
}

#review {
    padding-right:10em;
}

#carouselwithIndicators {
    margin-left:10em;
}