body{
    background-color: #a4a3a3;
}
.nav-link{
    color: #a4a3a3;
}
.navbar-expand-lg{
    background-color: #52565bed;

}
#Promo{
    background-color: #004aad;
}
footer{
    padding-top: 11em;
}