body {
    background-color: #a4a3a3;
}

.nav-link, #Banner, #Contact, #suggestion, #Accessibility, #orderButton1, #orderButton2, #homeReviewButton {
    color: black;
    font-weight: bold;
    /*    Bootstrap will not change color to black using text class. Do not remove*/
}

#Banner, #Footer, #orderButton1 {
    background-color: #004aad;
    /*    This color is the exact color in the logo to match the page. Do not remove*/
}

#orderButton2,#click,#sign, NAV, #homeReviewButton, #PlaceOrderButton {
    background-color: #52565bed;
    /*    This color is to match the page. Not the same color as secondary. Do not remove*/

}

#NAV, #Banner, #Footer {
    margin: 0em -1em 0.5em 0em;
    border: none;
}

#signUp {
    margin-right: 2em;
}

@media only screen and (max-width: 1000px) {
    #sparrow {
        height: 100%;
        width: 100%;
    }
}

@media only screen and (min-width: 800px) {
    #sparrow {
        height: 50%;
        width: 50%;
    }
}

.error {
    color: darkred;
    display: none;
}
#ID, .sign{
    background: #004aad3b;
}

#Signup{
    padding-left: 30%;
    padding-right: 30%;'
}
.buttonVIP{
    background: #004aad3b;
    color: black;
}
.buttonVIPTable{
    background: #004aada1;
    color: black;
}